# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.dll
*.opensdf
*.sdf
*.suo
*.user

*/Debug/*
dt1debug/dt1debug/Debug/*
dt1extr/dt1extr/Debug/*
dt1info/dt1info/Debug/*
dt1make/dt1make/Debug/*
*/ipch/*
